div .border, .border-5 {
  margin: 5em 8em 1.3em 8em;
  padding-left: 30px;
  padding-right: 15px;
  background-color: #ebe5e5;
}

p.h4 {
  text-align: center;
  padding: 10px;
}

div form {
  margin: 10px;
}
.title {
  font-family: 'The Nautigal', cursive;
  font-size: 60px;
  font-weight: bold;
  padding: 4px 0 0 4px;
}
